.p-10 {
  padding: 10px !important;
}

.pl-5 {
  padding-left: 5px !important;
}
.pl-20 {
  padding-left: 40px !important;
}
.m-0 {
  margin: 0 !important;
}
.mt-2 {
  margin-top: 10px !important;
  margin-bottom: 5px !important;
}

.mr-20 {
  margin-right: 20px !important;
}
.fw-400 {
  font-weight: 400 !important;
}

#txt1 {
  font-size: 28px;
  line-height: 24px;
}
.nav-icon {
  /* display: inline-flex;
  vertical-align: top; */
  vertical-align: sub;
}

.nav-bar {
  font-family: "Teko", sans-serif;
}
#faq-btn,
#settings-btn {
  width: -webkit-fill-available;
  font-size: large;
}

#task-done,
#task-remove {
  color: #5e35b1;
}

.timer-btn {
  color: #5e35b1;
  font-size: 45px;
}

.timer-btn-hover {
  color: #3c2075;
  font-size: 50px;
}

.ongoing-task {
  margin-bottom: 10px;
  font-size: 16px;
  /* text-decoration: underline; */
  background: #5e35b1;
  color: white;
  border-radius: 7px;
}

.task-list {
  font-family: "Ubuntu", sans-serif;
  box-shadow: 2px 2px 20px grey;
}

.error-alert {
  color: white;
  background-color: #e53935;
  padding: 3px 10px;
}

.sucess-alert {
  color: white;
  background-color: #43a047;
  padding: 3px 10px;
}

.done-task {
  text-decoration: line-through;
  font-style: italic;
}
#add-taskbtn,
#dltall-btn {
  background-color: rgb(94, 53, 177) !important;
}

#session-done {
  background-color: #3c2075;
}

.focus-timer,
.break-timer {
  margin: auto;
  padding: 10px;
  text-align: center;
  /* border-radius: 170px; */
  border-radius: 91px;
  margin-top: 8px;
  border: 10px solid #6d3ad4;
  box-shadow: 5px 2px 18px grey;
  font-family: "Ubuntu", sans-serif;
  color: #5e35b1;
  height: 15em;
  margin-bottom: 10px;
}
.togle-timer-border {
  border: 10px solid white;
}

.focus-timer-withtask {
  padding-top: 0px !important;
  height: 17rem;
}

.dial-box {
  border: 1px solid #5e35b1;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.work-time-ends {
  text-align: center;
  background-color: #5e35b1;
  color: white;
  font-family: "Ubuntu", sans-serif;
  padding: 20px 5px;
}
.score-board {
  margin: auto;
  color: black;
}

.score-box {
  border: 1px solid #5e35b1;
  margin-bottom: 10px;
  padding: 0px 13px !important;
  border-radius: 14px;
  font-family: "Ubuntu", sans-serif;
  background-color: #5e35b1;
  color: white;
  text-align: center;
}

#focus-min,
#short-break-min,
#long-break-min {
  border: 1px solid #6d3ad4;
  width: 50%;
  text-align: center;
}

/* Disable Number Input Scroll*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
