.p-10 {
  padding: 10px !important;
}

.pl-5 {
  padding-left: 5px !important;
}
.pl-20 {
  padding-left: 40px !important;
}
.m-0 {
  margin: 0 !important;
}
.mt-2 {
  margin-top: 10px !important;
  margin-bottom: 5px !important;
}

.mr-20 {
  margin-right: 20px !important;
}
.fw-400 {
  font-weight: 400 !important;
}

.light-mode {
  background-color: #2a174a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%232a174a' cx='50' cy='0' r='50'/%3E%3Cg fill='%232d194f' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23301a54' cx='50' cy='100' r='50'/%3E%3Cg fill='%23331c59' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23351e5e' cx='50' cy='200' r='50'/%3E%3Cg fill='%23381f64' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%233b2169' cx='50' cy='300' r='50'/%3E%3Cg fill='%233e236e' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23412574' cx='50' cy='400' r='50'/%3E%3Cg fill='%23442679' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2347287e' cx='50' cy='500' r='50'/%3E%3Cg fill='%234a2a84' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%234e2c89' cx='50' cy='600' r='50'/%3E%3Cg fill='%23512d8f' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23542f95' cx='50' cy='700' r='50'/%3E%3Cg fill='%2357319a' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%235a33a0' cx='50' cy='800' r='50'/%3E%3Cg fill='%235d35a6' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%236136ab' cx='50' cy='900' r='50'/%3E%3Cg fill='%236438b1' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23673ab7' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

#txt1 {
  font-size: 28px;
  line-height: 24px;
}
.nav-icon {
  /* display: inline-flex;
  vertical-align: top; */
  vertical-align: sub;
}

.nav-bar {
  font-family: "Teko", sans-serif;
}
#faq-btn,
#settings-btn {
  width: -webkit-fill-available;
  font-size: large;
}

#task-done,
#task-remove {
  color: #6d3ad4;
}

.timer-btn {
  color: #5e35b1;
  font-size: 45px;
}

.timer-btn-hover {
  color: #3c2075;
  font-size: 50px;
}

.sound-btn-hover {
  color: black;
}
.ongoing-task {
  margin-bottom: 10px;
  font-size: 16px;
  /* text-decoration: underline; */
  background: #6d3ad4;
  color: white;
  border-radius: 7px;
}

.task-list {
  font-family: "Ubuntu", sans-serif;
}

.error-alert {
  color: white;
  background-color: #e53935;
  padding: 3px 10px;
}

.sucess-alert {
  color: white;
  background-color: #43a047;
  padding: 3px 10px;
}

.done-task {
  text-decoration: line-through;
  font-style: italic;
}
#add-taskbtn,
#dltall-btn {
  background-color: #6d3ad4 !important;
}

#session-done {
  background-color: #3c2075;
}

.focus-timer,
.break-timer {
  margin: auto;
  padding: 10px;
  text-align: center;
  /* border-radius: 170px; */
  border-radius: 91px;
  margin-top: 8px;
  border: 10px solid #6d3ad4;

  font-family: "Ubuntu", sans-serif;
  color: #5e35b1;
  height: 15em;
  margin-bottom: 10px;
}

.togle-timer-border {
  border: 10px solid white;
}

.focus-timer-withtask {
  padding-top: 0px !important;
  height: 17rem;
}

.dial-box {
  border: 1px solid #6d3ad4;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.work-time-ends {
  text-align: center;
  background-color: #6d3ad4;
  color: white;
  font-family: "Ubuntu", sans-serif;
  padding: 20px 5px;
}

.score-box {
  border: 1px solid #6d3ad4;
  margin-bottom: 10px;
  padding: 0px 13px !important;
  border-radius: 14px;
  font-family: "Ubuntu", sans-serif;
  background-color: #6d3ad4;
  color: white;
  text-align: center;
}

#focus-min,
#short-break-min,
#long-break-min {
  border: 1px solid #6d3ad4;
  width: 50%;
  text-align: center;
}

/* Disable Number Input Scroll*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 400px) {
  .break-timer {
    height: 18em;
  }
  .focus-timer {
    height: 16rem;
  }
}
